@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400&display=swap');

body {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400, 700;
}
.bg-orange {
    background-color: hsl(26, 100%, 55%);
}
.text-orange {
    color: hsl(26, 100%, 55%);
}